<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="well">
        <h1>Cumulative Flow diagram! (BETA)</h1>
        <quickfilters board-data="boardData"></quickfilters>
      </div>
      
      
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<cfd-graph data="cfdDataTable" zero="zeroDone" ng-show="hasData"></cfd-graph>
		</div>
	</div>
  <div class="row">
    <div class="col-me-2"> 
      
    <div class="row">
      
        <div class="col-md-4">
          <h4>Start Date</h4>
        </div>
        <!--div class="col-md-4">
          <h4>Filter by card title </h4>
            
        </div-->
        <div class="col-md-2">
          <h4>Export Data </h4>
        </div>
    </div>

    <div class="row">
      
        <div class="col-md-4">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" ng-change="startDateChanged()" is-open="opened" min-date="start" max-date="today" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-2">
                <download filename="CumulativeFlowData" format="dlFormat", data="cfdDataTable" ></download>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="zeroDone" ng-change="startDateChanged()">Done starts from 0</label>
            </div>
        </div>
        

    </div>
    </div>
  </div>
</div>