<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="well">
                <h4>Settings! (BETA)</h4>
                <quickfilters board-data="vm.boardData"></quickfilters>
            </div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			 <quick-filters quick-filters="vm.quickFilters" apply="vm.apply()" ></quick-filters>
		</div>
	</div>
</div>
<div class="loading" ng-show="vm.state.loading">Loading&#8230;</div>
