<div class="container" >
	<div class="row">
		<div class="col-sm-12">
			<div class="well">
        <h4>Througput! (BETA)</h4>
       <quickfilters board-data="boardData"></quickfilters>
      </div>
      
      
		</div>
	</div>
</div>
<div class="container" style="width: 100%;">
	<div class="row">
		<div class="col-lg-12">
			
			<throughput-graph data="reportData" rolling-average="rollingAverage" ></throughput-graph>
		</div>
	</div>
</div>
<div class="container" >
  <div class="row">
    <div class="col-me-2"> 
      
    
    <div class="row">
      
        <div class="col-md-4">
            <label>Start date:</label>
						<date-picker dt="dt" date-changed="startDateChanged()" min-date="boardData.boardCreated" ></date-picker>
        </div>
				<div class="col-md-4">
						<div class="form-group">
      				<label>SprintLength(weeks):</label>
      				<select class="form-control" ng-model="sprintLength" ng-change="updateSprintLength()" ng-options="item.label for item in sprintLengths" >
							</select>

    		    </div>
				</div>
				<div class="col-md-4">
						<div class="form-group">
      				<label>Rolling average over :</label>
      				<input class="form-control" type="number" ng-model="rollingAverage" ng-change="updateSprintLength()" >
							</input>

    		    </div>
				</div>		
    </div>
		<div class="row">
			<div class="col-md-8">
         <download filename="ThroughputData" format="dlFormat", data="reportData" ></download>
        </div>
		</div>
    <div class="row">
  		<div class="col-sm-4">
				<a href="{{board}}">Data from rest api source </a>
			</div>
		</div>
  </div>
	</div>
</div>