
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jira Kanban Data</title>
    

    <!-- Bootstrap -->
    <link href="../lib/css/deps.css" rel="stylesheet">
    <link href="spa.css" rel="stylesheet">
   

  </head>
  <body ng-app="kanban">
  	<div ng-controller = "TabController as vm" >
  	
    <uib-tabset >  
    		<uib-tab ng-repeat="tab in vm.tabs" heading="{{tab.caption}}" active="tab.active" disabled="tab.disabled" ng-click="vm.goTo(tab.route)"></uib-tab>
		</uib-tabset>
	</div>
  	<div ng-view></div>
  	
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--script src="../utils_js/jquery-2.1.1.min.js"></script-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
 
	<script type="text/javascript" src="../lib/js/deps.js"></script>
	<script type="text/javascript" src="../utils_js/util.js"></script>
    <script type="text/javascript" src="../utils_js/jiraUtil.js"></script>
	<script type="text/javascript" src="../cfdParser.js"></script>
	<script type="text/javascript" src="nvd3GraphHelpers.js"></script>
    <script type="text/javascript" src="spectralAnalysis.js"></script>
    <script type="text/javascript" src="throughput.js"></script>
    <script type="text/javascript" src="montecarlo.js"></script>

    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="spa.js"></script>
    <script type="text/javascript" src="components/components.js"></script>
    <script type="text/javascript" src="factories/factories.js"></script>

    <script type="text/javascript" src="montecarloController.js"></script>
    <script type="text/javascript" src="tabController.js"></script>
    <script type="text/javascript" src="settingsController.js"></script>
    <script type="text/javascript" src="router.js"></script>
    <script type="text/javascript" src="analytics.js"></script>
  </body>
</html>