.scrollDiv {
    overflow-x:scroll;
    margin-left:5em;
    overflow-y:visible;
    padding-bottom:1px;
}

.headcol {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
    border-right: 0px none black;
    border-top-width:3px; /*only relevant for first row*/
    margin-top:-3px; /*compensate for top border*/
}
.headcol:before {content: 'Row ';}